{% extends "admin.html" %}
{% block title %}Customers{% endblock %}

<!-- Content -->
{% block content %}
<h1 class="display-3 py-2 text-center">My customers</h1>
<p class="important">
<h5 class="display-7 py-2 text-center">{{x}}</h5>
<div class="container">
  <div class="accordion accordion-flush shadow" id="accordionFlushExample">

    <div class="accordion-item border">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed border" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Update status
        </button>
      </h2>

      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">

          <form class="row g-3" action="/admin/customers" method="POST">
            <div class="col-md-4">
              <label for="validationServer01" class="form-label">customer_id</label>
              <input type="number" name="id" class="form-control is-valid" id="validationServer01" value="1" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label for="validationServer02" class="form-label">active</label>
              <input type="number" name="active" class="form-control is-valid" id="validationServer02" value="1"
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div class="accordion-item border">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed border" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Show all
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <strong>All Customers</strong><br>
          <table class="table table-striped table-hover">
            <thead class="text-center">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">name</th>
                <th class="text-center">city</th>
                <th class="text-center">dateBirth</th>
                <th class="text-center">dateJoin</th>
                <th class="text-center">email</th>
                <th class="text-center">pass</th>
                <th class="text-center">status</th>
                <th class="text-center">pay_status</th>
              </tr>
            </thead>
            <tbody>
              {% for c in customers %}
              <tr>
                <td class="text-center">{{c[0]}}</td>
                <td class="text-center">{{c[1]}}</td>
                <td class="text-center">{{c[2]}}</td>
                <td class="text-center">{{c[3][0:10]}}</td>
                <td class="text-center">{{c[4][0:10]}}</td>
                <td class="text-center">{{c[5]}}</td>
                <td class="text-center">******</td>
                <td class="text-center" class="text-center">{{c[7]}}</td>
                <td class="text-center" class="text-center">{{c[8]}}</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="accordion-item border">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed border" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Show only active
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <strong>Active customers</strong><br>
          <table class="table table-striped table-hover">
            <thead class="text-center">
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">name</th>
                <th class="text-center">city</th>
                <th class="text-center">dateBirth</th>
                <th class="text-center">dateJoin</th>
                <th class="text-center">email</th>
                <th class="text-center">pass</th>
                <th class="text-center">status</th>
                <th class="text-center">pay_status</th>
              </tr>
            </thead>
            <tbody>
              {% for c in customers2 %}
              <tr>
                <td class="text-center">{{c[0]}}</td>
                <td class="text-center">{{c[1]}}</td>
                <td class="text-center">{{c[2]}}</td>
                <td class="text-center">{{c[3][0:10]}}</td>
                <td class="text-center">{{c[4][0:10]}}</td>
                <td class="text-center">{{c[5]}}</td>
                <td class="text-center">******</td>
                <td class="text-center" class="text-center">{{c[7]}}</td>
                <td class="text-center" class="text-center">{{c[8]}}</td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}